.menu {
    flex-direction: column;
    padding: .2rem;

    transform-origin: top left;
    background-color: $color-primary;
    
    font-size: 1.3rem;
    box-shadow: 
        inset -1px -1px 2px #0a0a0a, 
        inset 1px 1px 1px #fff, 
        inset -1px -1px 2px grey, 
        inset 1px 1px 2px #dfdfdf
    ;

    &__item {

        &--separator {
            width: 98%;
            height: .2rem;
        }

        &:not(.menu__item--separator) {
            padding-left: 2rem;
        }

        &:not(.arrow) {
            padding-right: 2rem;
        }

        &:hover {
            background-color: $color-selected;
        }
    }

    &--context {
        display: none;
        position: fixed;
    }

    &--toolbar {
        display: none;
        position: absolute;
        bottom: 4.7rem;
        left: 0;
    }
}