.selected > img {
    filter: opacity(0.5) drop-shadow(0 0 0 $color-selected);
}

.selected > p {
    background-color: $color-selected;
    border: 1px dotted $color-white;
}

.horizontal-separator {
    box-shadow: inset 0px 1px 2px $color-grey-dark-1, inset 0px 8px 2px $color-white;
}

.vertical-separator {
    box-shadow: inset 2px 0px 2px $color-grey-dark-1, inset -5px 0px 2px $color-white;
}

.text-low-weight {
    font-weight: 400;
}

.arrow {
    width: 0; 
    height: 0; 

    &--medium {
        border-top: .8rem solid transparent;
        border-bottom: .8rem solid transparent;
        
        border-left: .8rem solid black;
    }
    
    &--small {
        border-top: .5rem solid transparent;
        border-bottom: .5rem solid transparent;
        
        border-left: .5rem solid black;
    }
}

.mg-bottom-large {
  margin-bottom: 2rem;
}

.font-white-bold {
  color: white;
  font-weight: bold;
}