.toolbar {
    min-height: 5vh;
    background-color: $color-primary;

    display: flex;
    align-items: center;
    padding: .3rem .5rem;
    position: relative;

    box-shadow: 
        inset 0px 2px 3px #fff,
        inset 0px 3px 3px #dfdfdf
    ;

    &__btn {
        &__icon {
            margin-right: .2rem;
        }

        &__text {
            font-size: 1.9rem;
            font-weight: 800;
        }
    }

    &__apps {
        display: flex;
        justify-content: space-between;

        &__icon {
            margin:0 .5rem;

            &__img {
                display: block;
                height: 3.2rem;
            }
        }
    }

    &__openApps {
        flex-grow: 1;
    }

    &__utils {
        display: flex;
        padding: 0 .5rem;
        align-items: center;
        box-shadow: 
            inset 1px 1px 2px $color-black, 
            inset -1px -1px 2px $color-white, 
            inset 2px 2px 2px $color-grey-dark-1, 
            inset -2px -2px 2px $color-grey-light-1
        ;

        &__img {
            display: block;
        }

        &__time-text {
            font-size: $font-size-large;
            margin-left: 1.5rem;
        }
    }

    &__separator {
        margin: 0 .3rem;
        height: 3.3rem;
        width: .3rem;
        border-radius: 1rem;
    }

    &__bar-separator {
        height: 2.9rem;
        width: .5rem;
        box-shadow: 
        inset -2px -2px 2px $color-grey-dark-1,
        inset 2px 2px 2px $color-white;
    }

    &__menu {

        &__item {
            display: flex;
            align-items: center;
            padding: 1rem;

            &__img {
                display: block;
                margin-right: 1rem;
            }
        }
    }
}