.workspace {
    flex-grow: 1;
    background-color: $backgroud-color;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 8rem);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 10rem;

        &__icon {
            display: block;
            width: 5rem;
        }

        &__text {
            text-align: center;
            color: #fff;
            font-size: $font-size-icon;
            line-height: 1.2;
        }
    }
}