$color-primary: #C0C0C0;
$backgroud-color: #008080;

$color-black: #0a0a0a;
$color-white: #fff;
$color-grey-light-1: #dfdfdf;
$color-grey-dark-1: #807d7d;

$font-size-icon: 1.2rem;
$font-size-large: 2rem;