$color-primary: #C0C0C0;
$backgroud-color: #008080;

$color-black: #0a0a0a;
$color-black-2: #000;
$color-white: #fff;
$color-grey-light-1: #dfdfdf;
$color-grey-dark-1: #807d7d;

$color-selected: #000080;

$font-size-icon: 1.2rem;

$font-size-largest: 3rem;
$font-size-large: 2rem;
$font-size-medium: 1.65rem;
$font-size-medium-small: 1.5rem;
$font-size-small: 1rem;


$bp-largest: 93.75em; //1500px
$bp-large: 75em; //1200px
$bp-medium: 43.75em; //700px
$bp-medium-small:26.25rem; //420px
$bp-small: 25em; //400px
